<?php

return array(
//    'catchAllRequest'=>array(
//            'site/maintenance',
//    ),
    'components' => array(
        'db' => array(
            'connectionString' => 'mysql:host=localhost;dbname=database',
            'emulatePrepare' => true,
            'username' => 'root',
            'password' => '',
            'charset' => 'utf8',
            'enableProfiling' => true,
            'enableParamLogging' => true,
        ),

        'log' => array(
            'class' => 'CLogRouter',
            'routes' => array(
                array(
                    'class' => 'CFileLogRoute',
                    'levels' => 'error, warning',
                ),
                /* dev only
                array(
                    'class'=>'vendor.malyshev.yii-debug-toolbar.YiiDebugToolbarRoute',
                    // Access is restricted by default to the localhost
                    //'ipFilters'=>array('127.0.0.1','192.168.1.*', 88.23.23.0/24),
                ),
                */
            ),
        ),
    ),
);